In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [4]:
# Reading the data
AuthorCSV = pd.read_csv("author.csv")
Author_PaperCSV = pd.read_csv("author_paper.csv")
JournalCSV = pd.read_csv("journal.csv")
TopicCSV = pd.read_csv("topic.csv")
PaperJournalCSV = pd.read_csv("paper_journal.csv")
PaperReferenceCSV = pd.read_csv("paper_reference.csv")
PaperTopicCSV = pd.read_csv("paper_topic.csv")
PaperCSV = pd.read_csv("paper.csv", low_memory=False)

In [120]:
AuthorCSV.head(3)

,Author ID,Author Name,Author URL
0,39481716,m. corry,https://www.semanticscholar.org/author/39481716
1,1400383433,catalina amuedo-dorantes,https://www.semanticscholar.org/author/1400383433
2,4059419,cynthia bansak,https://www.semanticscholar.org/author/4059419

In [79]:
Author_PaperCSV.head(3)

   Author ID                                  Paper ID
0   13549554  0d956c858ee99bf830e816fe446da13f86e0b020
1  120815555  81904327e0501907a0c7a364c592fdf984a7812c
2    4965059  e3e1bdf96e23151eff6adadada0c71b474dede49

In [85]:
JournalCSV.head(3)

                               Journal Name          Journal Publisher
0  Journal of Immigrant and Refugee Studies  Routledgeinfo@tandf.co.uk
1                                Identities    Taylor and Francis Ltd.
2                 Ethnic and Racial Studies                  Routledge

In [83]:
TopicCSV.head(3)

   Topic ID      Topic Name                                      Topic URL
0    365920     corrigendum   https://www.semanticscholar.org/topic/365920
1      2460          Volume     https://www.semanticscholar.org/topic/2460
2   4169797  latin language  https://www.semanticscholar.org/topic/4169797

In [112]:
PaperJournalCSV.head(3)

,Paper ID,Journal Name,Journal Publisher
0,4301e6749a626fe36567e53f49fa5a247ba28dd7,Journal of Ethnic and Migration Studies,Routledgeinfo@tandf.co.uk
1,2c84d9e3c279717276f85352970a12b2c318fa6e,Journal of Black Studies,NaN
2,e80d8babbb18afbdc4ac3ccd5d19b578d790a94e,Patterns of Prejudice,NaN

In [114]:
PaperReferenceCSV.head(3)

,Paper ID,Referenced Paper ID
0,61947b0f3397247c43f75cf7b155651c463ae335,b87c108607688fe11b8cfe0b1374efcaa52f8c8e
1,92fd5a378f9188503f34b99d423646afa99c8789,25344b0e9215e4b32b5d72e229e4b54f1b532f21
2,6e8db759eed9b7a7ae2de194e22c727f44f91809,46d44a00406185ba54913ec58ccf7c4e1497f7a2

In [116]:
PaperTopicCSV.head(3)

                                   Paper ID  Topic ID
0  5b16e3ae5ec6d6103d1d61c7586dea96cfc1ffe3       330
1  012e84fb5e8680d281eb92523cdd3f59a6a7e014       480
2  e446c5770cb0a7de87d593f2c1d67a78582a1732      1093

In [118]:
PaperCSV.head(3)

,Paper ID,Paper DOI,Paper Title,Paper Year,Paper URL,Paper Citation Count,Fields of Study,Journal Volume,Journal Date
0,86890c2cc83b19d8a2ce7dbe7230e14ea68dbee7,10.1080/1070289x.2017.1304725,corrigendum,NaN,https://www.semanticscholar.org/paper/86890c2c...,0.0,Medicine,25,2018-11-02
1,43f7a8ee7ecabfe5ad85dfd17f8d9a0e86ea083a,10.1177/0197918320920192,refugee admissions and public safety: are refu...,NaN,https://www.semanticscholar.org/paper/43f7a8ee...,0.0,Political Science,NaN,2020-01-01
2,paper1,NaN,trump orders mexican border wall to be built a...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# List of DataFrames to process
dataframes = {
    "AuthorCSV": AuthorCSV,
    "Author_PaperCSV": Author_PaperCSV,
    "JournalCSV": JournalCSV,
    "TopicCSV": TopicCSV,
    "PaperJournalCSV": PaperJournalCSV,
    "PaperReferenceCSV": PaperReferenceCSV,
    "PaperTopicCSV": PaperTopicCSV,
    "PaperCSV": PaperCSV
}

# # Loop over DataFrames to print size and missing values
# for df_name, df in dataframes.items():
#     print(f"\nThe size of {df_name}:")
#     print(df.shape)
#     print(f"Finding out the total Null values in {df_name}:")
#     print(df.isnull().sum())

In [12]:
# print("The size of Author_PaperCSV:")
# print(TopicCSV.shape)
# print("Finding out the total Null values")
# print(TopicCSV.isnull().sum())

import pandas as pd

# Function to calculate missing values and their percentages
def calculate_missing_values(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                     'percent_missing': percent_missing}).round(2).sort_values(by='percent_missing', ascending=False).reset_index(drop=True)
    return missing_value_df

for df_name, df in dataframes.items():
    print("\n--------------------")
    display(Markdown(f"### Dataset: `{df_name}`"))
    
    # Size
    display(Markdown(f"**Shape:** {df.shape}"))

    # Data types
    display(Markdown("**Data types:**"))
    display(df.dtypes.to_frame("dtype"))

    # Null counts
    display(Markdown("**Null value count:**"))
    display(df.isnull().sum().to_frame("null_count"))

    # Missing percentages
    display(Markdown("**Missing value percentages:**"))
    display(calculate_missing_values(df))

--------------------

### Dataset: `AuthorCSV`

**Shape:** (38925, 3)

**Data types:**

              dtype
Author ID    object
Author Name  object
Author URL   object

**Null value count:**

             null_count
Author ID             0
Author Name           0
Author URL           72

**Missing value percentages:**

   column_name  percent_missing
0   Author URL             0.18
1    Author ID             0.00
2  Author Name             0.00

--------------------

### Dataset: `Author_PaperCSV`

**Shape:** (56450, 2)

**Data types:**

            dtype
Author ID  object
Paper ID   object

**Null value count:**

           null_count
Author ID           0
Paper ID            0

**Missing value percentages:**

  column_name  percent_missing
0   Author ID              0.0
1    Paper ID              0.0

--------------------

### Dataset: `JournalCSV`

**Shape:** (165, 2)

**Data types:**

                    dtype
Journal Name       object
Journal Publisher  object

**Null value count:**

                   null_count
Journal Name                0
Journal Publisher          45

**Missing value percentages:**

         column_name  percent_missing
0  Journal Publisher            27.27
1       Journal Name             0.00

--------------------

### Dataset: `TopicCSV`

**Shape:** (6489, 3)

**Data types:**

             dtype
Topic ID     int64
Topic Name  object
Topic URL   object

**Null value count:**

            null_count
Topic ID             0
Topic Name           0
Topic URL            0

**Missing value percentages:**

  column_name  percent_missing
0    Topic ID              0.0
1  Topic Name              0.0
2   Topic URL              0.0

--------------------

### Dataset: `PaperJournalCSV`

**Shape:** (32647, 3)

**Data types:**

                    dtype
Paper ID           object
Journal Name       object
Journal Publisher  object

**Null value count:**

                   null_count
Paper ID                    0
Journal Name                0
Journal Publisher       17739

**Missing value percentages:**

         column_name  percent_missing
0  Journal Publisher            54.34
1           Paper ID             0.00
2       Journal Name             0.00

--------------------

### Dataset: `PaperReferenceCSV`

**Shape:** (1132044, 2)

**Data types:**

                      dtype
Paper ID             object
Referenced Paper ID  object

**Null value count:**

                     null_count
Paper ID                      0
Referenced Paper ID           0

**Missing value percentages:**

           column_name  percent_missing
0             Paper ID              0.0
1  Referenced Paper ID              0.0

--------------------

### Dataset: `PaperTopicCSV`

**Shape:** (41880, 2)

**Data types:**

           dtype
Paper ID  object
Topic ID   int64

**Null value count:**

          null_count
Paper ID           0
Topic ID           0

**Missing value percentages:**

  column_name  percent_missing
0    Paper ID              0.0
1    Topic ID              0.0

--------------------

### Dataset: `PaperCSV`

**Shape:** (693624, 9)

**Data types:**

                        dtype
Paper ID               object
Paper DOI              object
Paper Title            object
Paper Year            float64
Paper URL              object
Paper Citation Count  float64
Fields of Study        object
Journal Volume         object
Journal Date           object

**Null value count:**

                      null_count
Paper ID                       0
Paper DOI                 371633
Paper Title                   14
Paper Year                 47577
Paper URL                 285682
Paper Citation Count      661000
Fields of Study           661836
Journal Volume            662168
Journal Date              661000

**Missing value percentages:**

            column_name  percent_missing
0        Journal Volume            95.46
1       Fields of Study            95.42
2  Paper Citation Count            95.30
3          Journal Date            95.30
4             Paper DOI            53.58
5             Paper URL            41.19
6            Paper Year             6.86
7              Paper ID             0.00
8           Paper Title             0.00

In [155]:
# print("The size of Author_PaperCSV:")
# print(TopicCSV.shape)
# print("Finding out the total Null values")
# print(TopicCSV.isnull().sum())

import pandas as pd

# Function to calculate missing values and their percentages
def calculate_missing_values(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                     'percent_missing': percent_missing}).round(2).sort_values(by='percent_missing', ascending=False).reset_index(drop=True)
    return missing_value_df

# Loop over DataFrames to print size, missing values, column data types, and calculate the missing value percentages
for df_name, df in dataframes.items():
    print("\n--------------------")
    print(f"\nThe size of {df_name}:")
    print(df.shape)
    
    # Print the column data types
    print(f"\nData types for {df_name}:")
    print(df.dtypes)
    
    print(f"\nFinding out the total Null values in {df_name}:")
    print(df.isnull().sum())
    
    # Calculate missing value percentages
    print(f"\nMissing values for {df_name} (percentage):")
    missing_value_df = calculate_missing_values(df)
    print(missing_value_df, "\n")

--------------------

The size of AuthorCSV:
(38925, 3)

Data types for AuthorCSV:
Author ID      object
Author Name    object
Author URL     object
dtype: object

Finding out the total Null values in AuthorCSV:
Author ID       0
Author Name     0
Author URL     72
dtype: int64

Missing values for AuthorCSV (percentage):
   column_name  percent_missing
0   Author URL             0.18
1    Author ID             0.00
2  Author Name             0.00


--------------------

The size of Author_PaperCSV:
(56450, 2)

Data types for Author_PaperCSV:
Author ID    object
Paper ID     object
dtype: object

Finding out the total Null values in Author_PaperCSV:
Author ID    0
Paper ID     0
dtype: int64

Missing values for Author_PaperCSV (percentage):
  column_name  percent_missing
0   Author ID              0.0
1    Paper ID              0.0


--------------------

The size of JournalCSV:
(165, 2)

Data types for JournalCSV:
Journal Name         object
Journal Publisher    object
dtype: object

Finding out the total Null values in JournalCSV:
Journal Name          0
Journal Publisher    45
dtype: int64

Missing values for JournalCSV (percentage):
         column_name  percent_missing
0  Journal Publisher            27.27
1       Journal Name             0.00


--------------------

The size of TopicCSV:
(6489, 3)

Data types for TopicCSV:
Topic ID       int64
Topic Name    object
Topic URL     object
dtype: object

Finding out the total Null values in TopicCSV:
Topic ID      0
Topic Name    0
Topic URL     0
dtype: int64

Missing values for TopicCSV (percentage):
  column_name  percent_missing
0    Topic ID              0.0
1  Topic Name              0.0
2   Topic URL              0.0


--------------------

The size of PaperJournalCSV:
(32647, 3)

Data types for PaperJournalCSV:
Paper ID             object
Journal Name         object
Journal Publisher    object
dtype: object

Finding out the total Null values in PaperJournalCSV:
Paper ID                 0
Journal Name             0
Journal Publisher    17739
dtype: int64

Missing values for PaperJournalCSV (percentage):
         column_name  percent_missing
0  Journal Publisher            54.34
1           Paper ID             0.00
2       Journal Name             0.00


--------------------

The size of PaperReferenceCSV:
(1132044, 2)

Data types for PaperReferenceCSV:
Paper ID               object
Referenced Paper ID    object
dtype: object

Finding out the total Null values in PaperReferenceCSV:
Paper ID               0
Referenced Paper ID    0
dtype: int64

Missing values for PaperReferenceCSV (percentage):
           column_name  percent_missing
0             Paper ID              0.0
1  Referenced Paper ID              0.0


--------------------

The size of PaperTopicCSV:
(41880, 2)

Data types for PaperTopicCSV:
Paper ID    object
Topic ID     int64
dtype: object

Finding out the total Null values in PaperTopicCSV:
Paper ID    0
Topic ID    0
dtype: int64

Missing values for PaperTopicCSV (percentage):
  column_name  percent_missing
0    Paper ID              0.0
1    Topic ID              0.0


--------------------

The size of PaperCSV:
(693624, 9)

Data types for PaperCSV:
Paper ID                 object
Paper DOI                object
Paper Title              object
Paper Year              float64
Paper URL                object
Paper Citation Count    float64
Fields of Study          object
Journal Volume           object
Journal Date             object
dtype: object

Finding out the total Null values in PaperCSV:
Paper ID                     0
Paper DOI               371633
Paper Title                 14
Paper Year               47577
Paper URL               285682
Paper Citation Count    661000
Fields of Study         661836
Journal Volume          662168
Journal Date            661000
dtype: int64

Missing values for PaperCSV (percentage):
            column_name  percent_missing
0        Journal Volume            95.46
1       Fields of Study            95.42
2  Paper Citation Count            95.30
3          Journal Date            95.30
4             Paper DOI            53.58
5             Paper URL            41.19
6            Paper Year             6.86
7              Paper ID             0.00
8           Paper Title             0.00

## Basic guideline with which I will be handling the data-cleaning e.t.c.

Within the Data Science Class I took, we were told that if we have 2%, 3% or 5% of missing values, then you drop those rows which contains those values, that's an industry rule of thumb.\
But if you have 5% or more than 10% of missing value, then you can "think" of filling them \
However, if it's 20% then you are losing a lot of information. 

For categorical, use mode 
For Numerical, use mean 
For ordinal numerical, use median (or mode if situation calls for it)

In [151]:
for df_name, df in dataframes.items():
    # Find duplicate rows
    duplicate_rows_df = df[df.duplicated()]
    print(f"Number of duplicate rows in {df_name}: {duplicate_rows_df.shape[0]}")
    print(f"Duplicate rows in {df_name}:")
    print(duplicate_rows_df, "\n")

Number of duplicate rows in AuthorCSV: 0
Duplicate rows in AuthorCSV:
Empty DataFrame
Columns: [Author ID, Author Name, Author URL]
Index: []

Number of duplicate rows in Author_PaperCSV: 0
Duplicate rows in Author_PaperCSV:
Empty DataFrame
Columns: [Author ID, Paper ID]
Index: []

Number of duplicate rows in JournalCSV: 0
Duplicate rows in JournalCSV:
Empty DataFrame
Columns: [Journal Name, Journal Publisher]
Index: []

Number of duplicate rows in TopicCSV: 0
Duplicate rows in TopicCSV:
Empty DataFrame
Columns: [Topic ID, Topic Name, Topic URL]
Index: []

Number of duplicate rows in PaperJournalCSV: 0
Duplicate rows in PaperJournalCSV:
Empty DataFrame
Columns: [Paper ID, Journal Name, Journal Publisher]
Index: []

Number of duplicate rows in PaperReferenceCSV: 0
Duplicate rows in PaperReferenceCSV:
Empty DataFrame
Columns: [Paper ID, Referenced Paper ID]
Index: []

Number of duplicate rows in PaperTopicCSV: 0
Duplicate rows in PaperTopicCSV:
Empty DataFrame
Columns: [Paper ID, Topic ID]
Index: []

Number of duplicate rows in PaperCSV: 0
Duplicate rows in PaperCSV:
Empty DataFrame
Columns: [Paper ID, Paper DOI, Paper Title, Paper Year, Paper URL, Paper Citation Count, Fields of Study, Journal Volume, Journal Date]
Index: []